doctype html
html
  head
    meta(charset='uft-8')
    title DELTA TEAM PAGE
    link(rel='stylesheet' href='../../css/teampage.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  body
    #heading
      h1 DELTA
      button#homepage(onclick="location.href='/homepage'") HOME PAGE
    h2 WELCOME TO #{page}
    #taskbar
        form#invite(action="/homepage/teams/"+(user.teamnames[index].tname).toUpperCase()+'/invites', method="POST")
            label(for="inv") INVITE:
            input#inv(type="text" placeholder="ENTER USERNAME TO INVITE" name="inv")
            button#in INVITE USER
        button#pollcr CREATE POLL
    #poll(class='polls')
        h2 POLLS
    script.
        let index = "#{index}";
        console.log(index);
        let pollcr = document.getElementById('pollcr');
        let page = "#{page}";
        pollcr.addEventListener("click",()=>{
        location.href = '/homepage/teams/'+page+'/pollcr';});
    script.
        let count = "#{poll}";
        let os = `#{os}`;
        let name = "#{page}";
        let admin = "#{admin}";
        if(parseInt(count)>0)
        {
        console.log(typeof(count));
        console.log(os);
        let so = JSON.parse(os.replace(/(&quot\;)/g,'\"'));   
        console.log(so[0].question);
        for(let i=parseInt(count);i>0;i--)
        {
            console.log(i);
            let sub = so[i-1];
        document.getElementById("poll").insertAdjacentHTML("beforeend",'<form action="/homepage/teams/'+(name)+'/submitpoll" method="POST" id="pollno'+(i)+'" class="formsub"><br><p>'+((sub.question).toUpperCase())+'</p><br><br>');
        if(sub.stop == 0)
        {
        for(let j=0;j<(sub.options).length;j++)
        {
        document.getElementById("poll").insertAdjacentHTML("beforeend",'<button type="submit" class="but" name="formbut" id="f'+(10*(i)+j+1)+'" value="'+(10*(i)+j+1)+'" form="pollno'+(i)+'">'+((sub.options[j]).toUpperCase())+'</button><br>');
        }
        document.getElementById("poll").insertAdjacentHTML("beforeend",'<button type="submit" name="formbut" value="'+(10*i)+'" class="endpoll" id="end'+(i)+'" form="pollno'+(i)+'">END POLL</button></form><br>');
        console.log('end'+i);
        }
        else
        {
            let vote= 0;
            let max = sub.optvote[0];
            let location = 0;
            for(let j=0;j<(sub.options).length;j++)
            {
                vote+= sub.optvote[j];
                if(sub.optvote[j]>max)
                {
                    max = sub.optvote[j];
                    location = j;
                }
            }
            document.getElementById('pollno'+(i)).innerHTML = "<p>QUESTION : "+((sub.question).toUpperCase())+"</p><br><p>TOTAL VOTES : "+vote+"</p><br><p>MOST CHOSEN OPTION : "+((sub.options[location]).toUpperCase())+", WITH "+max+" VOTES</p><br>";
        }
        }
        }